<a href="https://colab.research.google.com/github/jinyoungsul/koBERT-yogiyo-reviews-classfication/blob/main/MergeData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#import

In [2]:
import pandas as pd
import os

In [16]:
path = '/content/drive/MyDrive/yogiyo/data_full/'

In [17]:
filenames = os.listdir(path)

In [47]:
df = None
temp = None

for filename in filenames:
    if filename == 'data_설진영_원본.txt':
        temp = pd.read_table(path + filename)
        temp.drop('Unnamed: 0.1', axis=1, inplace=True)
    else:
        temp = pd.read_csv(path + filename)
        
    if df is None:
        df = temp
        continue

    df = pd.concat([df, temp], ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36685 entries, 0 to 36684
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  36685 non-null  int64
 1   Category    36685 non-null  object
 2   Location    36685 non-null  object
 3   Restaurant  36685 non-null  object
 4   UserID      36685 non-null  object
 5   Menu        35953 non-null  object
 6   Review      36685 non-null  object
 7   Date        36685 non-null  object
 8   Total       36685 non-null  int64
 9   Taste       35716 non-null  float64
 10  Quantity    35716 non-null  float64
 11  Delivery    35388 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 3.4+ MB
None data_유수현.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63434 entries, 0 to 63433
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  63434 non-null  int64
 1   Category    63434 non-null  object
 2   Location    63434 non-null  object
 3   Restaurant  63434 non-null  object
 4   UserID      63434 non-null  object
 5   Menu        62296 non-null  object
 6   Review      63434 non-null  object
 7   Date        63434 non-null  object
 8   Total       63434 non-null  int64
 9   Taste       62002 non-null  float64
 10  Quantity    62002 non-null  float64
 11  Delivery    61155 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 5.8+ MB
None data_설진영_원본.txt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40718 entries, 0 to 40717
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  40718 non-null  int64
 1   Category    40718 non-null  object
 2   Location    40718 non-null  object
 3   Restaurant  40718 non-null  object
 4   UserID      40718 non-null  object
 5   Menu        40137 non-null  object
 6   Review      40718 non-null  object
 7   Date        40718 non-null  object
 8   Total       40718 non-null  object
 9   Taste       39847 non-null  object
 10  Quantity    39847 non-null  object
 11  Delivery    39493 non-null  object
dtypes: int64(1), object(11)
memory usage: 3.7+ MB
None data_이신강.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30629 entries, 0 to 30628
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Category    30629 non-null  object
 1   Location    30629 non-null  object
 2   Restaurant  30629 non-null  object
 3   UserID      30629 non-null  object
 4   Menu        30098 non-null  object
 5   Review      30629 non-null  object
 6   Date        30629 non-null  object
 7   Total       30629 non-null  int64
 8   Taste       29877 non-null  float64
 9   Quantity    29877 non-null  float64
 10  Delivery    29610 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 2.6+ MB
None data_이준우_원본.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14844 entries, 0 to 14843
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  14844 non-null  int64
 1   Restaurant  14844 non-null  object
 2   UserID      14844 non-null  object
 3   Menu        14823 non-null  object
 4   Review      14844 non-null  object
 5   Date        14844 non-null  object
 6   Total       14844 non-null  int64
 7   Taste       14829 non-null  float64
 8   Quantity    14829 non-null  float64
 9   Delivery    14417 non-null  float64
dtypes: float64(3), int64(2), object(5)
memory usage: 1.1+ MB
None data_길고은.csv

In [49]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [53]:
df.to_csv('/content/drive/MyDrive/yogiyo/data_full.txt', sep='\t')

df[['Total', 'Review']].to_csv('/content/drive/MyDrive/yogiyo/sampledata_full.txt', sep='\t', header=None)